name: Test Build

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]
  workflow_dispatch:

jobs:
  build-windows:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      
      - uses: abarichello/godot-ci@master
        with:
          args: --export-release "Windows Desktop" "build/windows/Crawler-Projektpraktikum.exe"
  
  build-linux:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
        with:
          lfs: true
      
      - uses: abarichello/godot-ci@master
        with:
          args: --export-release "Linux" "build/linux/Crawler-Projektpraktikum.exe.x86_64"