name: Test Build

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]
  workflow_dispatch:

env:
  GODOT_VERSION: 4.5.1
  EXPORT_NAME: Crawler-Projektpraktikum

jobs:
  export-windows:
    name: Windows Export
    runs-on: ubuntu-24.04
    container:
      image: barichello/godot-ci:4.5.1
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Windows Build
        run: |
          mkdir -v -p build/windows
          godot --verbose --export-release "Windows Desktop" "build/windows/$EXPORT_NAME.exe"
        # The '|| true' is used to ignore a segfault that currently occurs in Godot 4.5.1 after a successful headless export. See https://github.com/godotengine/godot/issues/112955

      # - name: Upload Artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: windows
      #     path: build/windows

  export-linux:
    name: Linux Export
    runs-on: ubuntu-24.04
    container:
      image: barichello/godot-ci:4.5.1
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Setup
        run: |
          mkdir -v -p ~/.local/share/godot/export_templates/
          mv /root/.local/share/godot/export_templates/${GODOT_VERSION}.stable ~/.local/share/godot/export_templates/${GODOT_VERSION}.stable
      - name: Linux Build
        run: |
          mkdir -v -p build/linux
          godot --verbose --export-release "Linux" "build/linux/$EXPORT_NAME.x86_64"
        # The '|| true' is used to ignore a segfault that currently occurs in Godot 4.5.1 after a successful headless export. See https://github.com/godotengine/godot/issues/112955

      # - name: Upload Artifact
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: linux
      #     path: build/linux
