name: Test Build

on:
  push:
    branches: [dev]
  pull_request:
    branches: [dev]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          lfs: true

      - name: Setup Godot
        uses: chickensoft-games/setup-godot@v1
        with:
          version: 4.5.1

      - name: Build Windows Desktop
        run: godot --headless --export-release "Windows Desktop" \
          ${{ runner.temp }}/windows_export

      - name: Build Linux
        run: godot --headless --export-release "Linux" \
          ${{ runner.temp }}/linux_export