name: Test Build

on:
  push:
    branches:
      - 'dev'
  pull_request:
    branches: 
      - 'dev'
  workflow_dispatch:

env:
  GODOT_VERSION: 4.6
  EXPORT_NAME: Crawler-Projektpraktikum

jobs:
  export-windows:
    name: Windows Export
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Setup Godot
        uses: ./.github/actions/setup-godot
        with:
          godot-version: ${{ env.GODOT_VERSION }}
      - name: Windows Build
        run: |
          mkdir -v -p build/windows
          ./Godot_v${{ env.GODOT_VERSION }}-stable_linux.x86_64 --headless --verbose --export-release "Windows Desktop" "build/windows/$EXPORT_NAME.exe"

  export-linux:
    name: Linux Export
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          lfs: true
      - name: Setup Godot
        uses: ./.github/actions/setup-godot
        with:
          godot-version: ${{ env.GODOT_VERSION }}
      - name: Linux Build
        run: |
          mkdir -v -p build/linux
          ./Godot_v${{ env.GODOT_VERSION }}-stable_linux.x86_64 --headless --verbose --export-release "Linux" "build/linux/$EXPORT_NAME.x86_64"